In [1]:
from rich import print
import logging

logging.basicConfig(level=logging.INFO)

# Modelling with PyCaret

In the springtime project we use[PyCaret](https://github.com/pycaret/pycaret) to
train, evaluate and compare (machine learning) models. PyCaret is a Python
wrapper around several machine learning libraries and frameworks such as
[scikit-learn](https://scikit-learn.org/stable/) and
[XGBoost](https://xgboost.readthedocs.io/en/latest/).

For a (ML) model to work with PyCaret, it [needs to adhere
to](https://pycaret.gitbook.io/docs/learn-pycaret/faqs#can-i-add-my-own-custom-models-in-pycaret)
the [scikit-learn API](https://scikit-learn.org/stable/developers/develop.html).
This API specifies, for example, that each model must have a `fit` and a
`predict` method. It also specifies the expected structure of the input data.
This is why we need to make a big effort to standardize our datasets.

## Basic experiment

Let's see what a 'simple' experiment looks like. We'll load the same example
data as before, and compare a few 'standard' models. For now, we'll stick to all
the default settings of pycaret.

In [2]:
from springtime.datasets import PEP725Phenor, EOBS
from springtime.utils import germany, PointsFromOther, join_dataframes

years = [2000, 2002]

pep725 = PEP725Phenor(
    species="Syringa vulgaris",
    years=years,
    area=germany,
)

eobs = EOBS(
    area=germany,
    years=years,
    variables=["mean_temperature"],
    resample={"frequency": "M", "operator": "mean"},
    points=PointsFromOther(source="pep725"),
)

df_pep725 = pep725.load()
eobs.points.get_points(df_pep725)
df_eobs = eobs.load()
df = join_dataframes([df_pep725, df_eobs])
df.head()

INFO:springtime.datasets.eobs:Locating data
INFO:springtime.datasets.eobs:Looking for variable mean_temperature in period 2000-2002...
INFO:springtime.datasets.eobs:Found /home/peter/.cache/springtime/e-obs/tg_ens_mean_0.1deg_reg_1995-2010_v26.0e.nc

                                day  mean_temperature|31  mean_temperature|59  \
year geometry
2000 POINT (10.00000 49.48330)  129             0.323548                  NaN
     POINT (10.00000 50.85000)  120             0.943226                  NaN
     POINT (10.00000 51.71670)  116             1.694194                  NaN
     POINT (10.00000 52.10000)  120             2.531935                  NaN
     POINT (10.00000 53.08330)  121             2.119677                  NaN

                                mean_temperature|60  mean_temperature|90  \
year geometry
2000 POINT (10.00000 49.48330)             3.664483                  NaN
     POINT (10.00000 50.85000)             3.795517                  NaN
     POINT (10.00000 51.71670)             4.053448                  NaN
     POINT (10.00000 52.10000)             4.937242                  NaN
     POINT (10.00000 53.08330)             3.988276                  NaN

                                mean_temperature|91  mean_temperature|120  \
year geometry
2000 POINT (10.00000 49.48330)             5.358709                   NaN
     POINT (10.00000 50.85000)             5.660645                   NaN
     POINT (10.00000 51.71670)             5.399354                   NaN
     POINT (10.00000 52.10000)             5.771289                   NaN
     POINT (10.00000 53.08330)             4.812258                   NaN

                                mean_temperature|121  mean_temperature|151  \
year geometry
2000 POINT (10.00000 49.48330)              9.966999                   NaN
     POINT (10.00000 50.85000)             10.001336                   NaN
     POINT (10.00000 51.71670)             10.563000                   NaN
     POINT (10.00000 52.10000)             10.993333                   NaN
     POINT (10.00000 53.08330)              9.906999                   NaN

                                mean_temperature|152  ...  \
year geometry                                         ...
2000 POINT (10.00000 49.48330)             14.801293  ...
     POINT (10.00000 50.85000)             14.421612  ...
     POINT (10.00000 51.71670)             14.321937  ...
     POINT (10.00000 52.10000)             14.817741  ...
     POINT (10.00000 53.08330)             14.663547  ...

                                mean_temperature|243  mean_temperature|244  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN             18.310001
     POINT (10.00000 50.85000)                   NaN             17.148067
     POINT (10.00000 51.71670)                   NaN             17.539680
     POINT (10.00000 52.10000)                   NaN             17.556454
     POINT (10.00000 53.08330)                   NaN             16.573227

                                mean_temperature|273  mean_temperature|274  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN             13.865000
     POINT (10.00000 50.85000)                   NaN             13.630667
     POINT (10.00000 51.71670)                   NaN             14.346666
     POINT (10.00000 52.10000)                   NaN             14.623999
     POINT (10.00000 53.08330)                   NaN             13.515334

                                mean_temperature|304  mean_temperature|305  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN             10.093225
     POINT (10.00000 50.85000)                   NaN              9.831611
     POINT (10.00000 51.71670)                   NaN             10.444515
     POINT (10.00000 52.10000)                   NaN             11.281612
     POINT (10.00000 53.08330)                   NaN             10.373870

                                mean_temperature|334  mean_temperature|335  \
year geometry
2000 POINT (10.00000 49.48330)                   NaN              5.732333
     POINT (10.00000 50.85000)                   NaN              5.651332
     POINT (10.00000 51.71670)                   NaN              6.550000
     POINT (10.00000 52.10000)                   NaN              7.564668
     POINT (10.00000 53.08330)                   NaN              6.470334

                                mean_temperature|365  mean_temperature|366
year geometry
2000 POINT (10.00000 49.48330)                   NaN              2.525484
     POINT (10.00000 50.85000)                   NaN              2.396452
     POINT (10.00000 51.71670)                   NaN              3.295161
     POINT (10.00000 52.10000)                   NaN              4.204194
     POINT (10.00000 53.08330)                   NaN              3.108710

[5 rows x 24 columns]

In [3]:
from pycaret.regression import RegressionExperiment

df.reset_index(drop=True, inplace=True)  # drop index to avoid sorting errors

exp = RegressionExperiment()
exp.setup(data=df, target="day")
exp.compare_models(["lr", "rf", "dummy"], n_select=3)

[RandomForestRegressor(n_jobs=-1, random_state=7530),
 LinearRegression(n_jobs=-1),
 DummyRegressor()]

Pycaret successfully executed the training of three models, and it concluded
that the random forest regressor performed best, with a mean absolute error of
about 4 days and an RMSE of 6.5 days. This seems okay, but the low correlation
coefficient (R2) suggests that the skill is still limited. Obviously, a more
in-depth investigation is necessary to conclude anything from this, but the
initial scoring is already a great start.

Notice the default settings of pycaret: it uses a 10-fold cross-validation
strategy and can do simple preprocessing tasks such as simple imputation of
missing data.

In [4]:
# TODO: eobs has NANs due to DOY matching of monthly resampled data with leap years.

## Custom estimators: interpretML

Any model that adheres to the scikit-learn API can be used in pycaret. For
example, we are interested in using [interpretML](https://interpret.ml/docs/).

Note: you need to have installed interpretML in your springtime environment for this to work:

```bash
pip install interpet
```

In [5]:
from interpret.glassbox import ExplainableBoostingRegressor

ebm = ExplainableBoostingRegressor()

exp = RegressionExperiment()
exp.setup(data=df, target="day")
exp.compare_models(["lr", "rf", "dummy", ebm], n_select=3)

INFO:interpret.utils._native:EBM lib loading.
INFO:interpret.utils._native:Loading native on Linux | debug = False
INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._ebm:Estimating with FAST
INFO:interpret.glassbox._ebm._bin:eval_terms

[ExplainableBoostingRegressor(),
 RandomForestRegressor(n_jobs=-1, random_state=7202),
 LinearRegression(n_jobs=-1)]

Nice! Our explainable boosting machine outperformed the random forest regression. This is promising!

## Custom estimators: Mixed-effects models

Another interesting approach to (interpretable) modelling is the use of
mixed-effects models. We found an existing package,
[MERF](https://github.com/manifoldai/merf), that combines a random forest with
random effects. However, the package was not scikit-learn compatible out of the
box. Therefore, we've made an adaptated version called [DumME] which is fully
scikit-learn compatible and replaces the default model with the scikit-learn
dummy model. You can install this package with

```bash
pip install dumme
```

The nice thing is that you are not tied to the Dummy or Random Forest models for
the fixed effects. You can combine it with any other sklearn-compatible
(regression) model. Here, we create three mixed effects models and see how they
perform.

In [6]:
import numpy as np
from dumme.dumme import MixedEffectsModel
from pycaret.regression import RegressionExperiment
from sklearn.ensemble import RandomForestRegressor

# We need to add a cluster column, otherwise each unique sample will be treated
# as a cluster and the algorithm will be very slow.
df = df.copy()
df["cluster"] = np.random.randint(0, 3, len(df))

ebm = ExplainableBoostingRegressor()
me_dummy = MixedEffectsModel(max_iterations=2)
me_rf = MixedEffectsModel(RandomForestRegressor(), max_iterations=2)
me_ebm = MixedEffectsModel(ExplainableBoostingRegressor(), max_iterations=2)

exp = RegressionExperiment()
exp.setup(data=df, target="day")

# Notice: We can pass in the fit arguments for DumME, but that breaks the other models.
# exp.compare_models(["lr", "rf", "dummy", ebm, me_dummy, me_rf, me_ebm], n_select=3, fit_kwargs={"cluster_column": "cluster"})

# Therefore, instead, we rely on the default of DumME to use the last column as cluster column
exp.compare_models(["lr", "rf", "dummy", ebm, me_dummy, me_rf, me_ebm], n_select=3)

INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._ebm:Estimating with FAST
INFO:interpret.glassbox._ebm._bin:eval_terms
WARNING:dumme.dumme:n_clusters=3, performance scales with number of clusters.
INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._ebm:Estimating with FAST
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:dumme.dumme:Training GLL is 14991.654825020732 at iteration 1.
INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.utils._compressed_dataset:Creating native dataset
INFO:interpret.glassbox._ebm._ebm:Estimating with FAST
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:interpret.glassbox._ebm._bin:eval_terms
INFO:dumme.dumme:Training GLL is 14994.61291011438 at iteration 2.

[ExplainableBoostingRegressor(),
 MixedEffectsModel(fe_model=ExplainableBoostingRegressor(), max_iterations=2),
 RandomForestRegressor(n_jobs=-1, random_state=3711)]

That's as far as the introductions go.

## Next steps: adding your own (physical) models

While many ML packages already adhere to the scikit-learn API, there are other
methods that do not. Particularly, we want to compare our ML-based approach with
more traditional physics-based models. In the next chapter, we will show how to
add a growing-degree day model to our framework.