## Observations from [National Phenology Network (NPN)](https://www.usanpn.org/usa-national-phenology-network)

**Species:** Syringa vulgaris
<br>
**Phenophase (fb):** 483 (?)

In [1]:
from springtime.datasets.NPNPhenor import NPNPhenor, npn_species, npn_phenophases

### Data from all the locations

In [ ]:
# List IDs and names for available species, phenophases
species = npn_species()
phenophases = npn_phenophases()

In [2]:
# Create a data instance
dataset = NPNPhenor(species=36, phenophase=483, years=[2012, 2013])
dataset

NPNPhenor(dataset='NPNPhenor', species=36, phenophase=483, years=(2012, 2013), area=None)

In [4]:
# Download data
dataset.download()

downloading /tmp/data/NPN/phenor_npn_data_36_483_2012-01-01_2012-12-31.rds
Downloading: 13 kB     13 kB     41 kB     41 kB     65 kB     65 kB     65 kB     65 kB

R[write to console]: No encoding supplied: defaulting to UTF-8.

In [5]:
# Load downloded data as a dataframe
df = dataset.load()
df.head()

,site_id,elevation_in_meters,state,species_id,genus,species,common_name,kingdom,individual_id,phenophase_id,...,first_yes_doy,first_yes_julian_date,numdays_since_prior_no,last_yes_year,last_yes_month,last_yes_day,last_yes_doy,last_yes_julian_date,numdays_until_next_no,geometry
1,17919,3,NC,36,Syringa,vulgaris,common lilac,Plantae,70343,483,...,77,2456004,-9999,2012,3,17,77,2456004,-9999,POINT (-76.61472 35.19228)
2,17926,592,TN,36,Syringa,vulgaris,common lilac,Plantae,70370,483,...,73,2456000,-9999,2012,3,13,73,2456000,-9999,POINT (-87.22970 35.62196)
3,17931,761,TN,36,Syringa,vulgaris,common lilac,Plantae,70385,483,...,319,2456246,-9999,2012,11,14,319,2456246,-9999,POINT (-86.86285 35.80284)
4,17934,824,NC,36,Syringa,vulgaris,common lilac,Plantae,70398,483,...,84,2456011,-9999,2012,3,24,84,2456011,-9999,POINT (-79.69920 35.89343)
5,17937,1113,TN,36,Syringa,vulgaris,common lilac,Plantae,70410,483,...,72,2455999,-9999,2012,3,12,72,2455999,-9999,POINT (-83.49780 35.98126)