## Observations from [National Phenology Network (NPN)](https://www.usanpn.org/usa-national-phenology-network)

**Species:** Syringa vulgaris
<br>
**Phenophase (fb):** 483 (?)

In [1]:
from springtime.datasets.rnpn import RNPN, npn_species, npn_phenophases

### Data from all the locations

In [ ]:
# List IDs and names for available species, phenophases
species = npn_species()
phenophases = npn_phenophases()

In [2]:
# Create a data instance
dataset = RNPN(species_ids={"name": "Syringa", "items":[36]}, phenophase_ids={"name": "leaves", "items":[483]}, years=[2010, 2011])
dataset

RNPN(dataset='RNPN', years=(2010, 2011), species_ids=NamedIdentifiers(name='Syringa', items=[36]), phenophase_ids=NamedIdentifiers(name='leaves', items=[483]), area=None)

In [3]:
# Download data
dataset.download()

downloading /tmp/data/rnpn/rnpn_npn_data_y_2010_Syringa_leaves.csv
 Found 8 records...NULL
downloading /tmp/data/rnpn/rnpn_npn_data_y_2011_Syringa_leaves.csv
 Found 25 records...NULL

In [4]:
# Load downloded data as a dataframe
df = dataset.load()
df.head()

,site_id,elevation_in_meters,state,species_id,genus,species,common_name,kingdom,individual_id,phenophase_id,...,first_yes_doy,first_yes_julian_date,numdays_since_prior_no,last_yes_year,last_yes_month,last_yes_day,last_yes_doy,last_yes_julian_date,numdays_until_next_no,geometry
0,17967,909,MO,36,Syringa,vulgaris,common lilac,Plantae,70516,483,...,60,2455257,-9999,2010,3,1,60,2455257,-9999,POINT (-91.37602 38.38862)
1,17994,1203,WV,36,Syringa,vulgaris,common lilac,Plantae,70607,483,...,125,2455322,-9999,2010,5,5,125,2455322,-9999,POINT (-79.97169 39.53892)
2,17999,947,IN,36,Syringa,vulgaris,common lilac,Plantae,70623,483,...,102,2455299,-9999,2010,4,12,102,2455299,-9999,POINT (-85.60993 39.79147)
3,18032,613,PA,36,Syringa,vulgaris,common lilac,Plantae,70741,483,...,95,2455292,-9999,2010,4,5,95,2455292,-9999,POINT (-76.62881 40.94780)
4,18051,734,IA,36,Syringa,vulgaris,common lilac,Plantae,70816,483,...,102,2455299,-9999,2010,4,12,102,2455299,-9999,POINT (-91.69318 41.29201)