In [28]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

In [2]:
import springtime
from springtime.datasets.modis import ModisSinglePoint, ModisMultiplePoints, modis_products, modis_bands, modis_dates

In [3]:
from pyPhenology import models, utils
import numpy as np

In [4]:
observations, predictors = utils.load_test_data(name='vaccinium', phenophase='flowers')

In [5]:
print(observations.shape)
observations.head()

(48, 5)

                 species  site_id  year  doy  phenophase
48  vaccinium corymbosum        1  1998  122         501
49  vaccinium corymbosum        1  1998  122         501
50  vaccinium corymbosum        1  1991  124         501
51  vaccinium corymbosum        1  1991  124         501
52  vaccinium corymbosum        1  1998  126         501

In [17]:
print(observations["site_id"].unique())
print(observations["doy"].min())
print(observations["doy"].max())
print(observations["year"].min())
print(observations["year"].max())

[1]
122
144
1990
2001

In [6]:
predictors.head()

   site_id  temperature  year  doy  latitude  longitude  daylength
0        1        13.10  1990  -65   42.5429   -72.2011      10.24
1        1        13.26  1990  -64   42.5429   -72.2011      10.20
2        1        12.30  1990  -63   42.5429   -72.2011      10.16
3        1        12.15  1990  -62   42.5429   -72.2011      10.11
4        1        13.00  1990  -61   42.5429   -72.2011      10.07

In [16]:
print(predictors["site_id"].unique())
print(predictors["doy"].min())
print(predictors["doy"].max())
print(predictors["year"].min())
print(predictors["year"].max())

[1]
-65
297
1990
2001

In [8]:
ls_products = modis_products()
ls_products

,product,description,frequency,resolution_meters
1,Daymet,Daily Surface Weather Data (Daymet) on a 1-km ...,1 day,1000
2,ECO4ESIPTJPL,ECOSTRESS Evaporative Stress Index PT-JPL (ESI...,Varies,70
3,ECO4WUE,ECOSTRESS Water Use Efficiency (WUE) Daily L4 ...,Varies,70
4,GEDI03,GEDI Gridded Land Surface Metrics (LSM) L3 1km...,One time,1000
5,GEDI04_B,GEDI Gridded Aboveground Biomass Density (AGBD...,One time,1000
6,MCD12Q1,MODIS/Terra+Aqua Land Cover Type (LC) Yearly L...,1 year,500
7,MCD12Q2,MODIS/Terra+Aqua Land Cover Dynamics (LCD) Yea...,1 year,500
8,MCD15A2H,MODIS/Terra+Aqua Leaf Area Index/FPAR (LAI/FPA...,8 day,500
9,MCD15A3H,MODIS/Terra+Aqua Leaf Area Index/FPAR (LAI/FPA...,4 day,500
10,MCD19A3,MODIS/Terra+Aqua BRDF Model Parameters (MAIAC)...,8 day,1000
11,MCD43A,MODIS/Terra+Aqua BRDF and Calculated Albedo (B...,1 day,500
12,MCD43A1,MODIS/Terra+Aqua BRDF/Albedo Model Parameters ...,1 day,500
13,MCD43A4,MODIS/Terra+Aqua Nadir BRDF-Adjusted Reflectan...,1 day,500
14,MCD64A1,MODIS/Terra+Aqua Burned Area (Burned Area) Mon...,Monthly,500
15,MOD09A1,MODIS/Terra Surface Reflectance (SREF) 8-Day L...,8 day,500
16,MOD11A2,MODIS/Terra Land Surface Temperature and Emiss...,8 day,1000
17,MOD13Q1,MODIS/Terra Vegetation Indices (NDVI/EVI) 16-D...,16 day,250
18,MOD14A2,MODIS/Terra Thermal Anomalies/Fire (Fire) 8-Da...,8 day,1000
19,MOD15A2H,MODIS/Terra Leaf Area Index/FPAR (LAI/FPAR) 8-...,8 day,500
20,MOD16A2,MODIS/Terra Net Evapotranspiration (ET) 8-Day ...,8 day,500
21,MOD16A2GF,MODIS/Terra Net Evapotranspiration Gap-Filled ...,8 day,500
22,MOD17A2H,MODIS/Terra Gross Primary Productivity (GPP) 8...,8 day,500
23,MOD17A2HGF,MODIS/Terra Gross Primary Productivity Gap-Fil...,8 day,500
24,MOD17A3HGF,MODIS/Terra Net Primary Production Gap-Filled ...,1 year,500
25,MOD21A2,MODIS/Terra Land Surface Temperature/3-Band Em...,8 day,1000
26,MOD44B,MODIS/Terra Vegetation Continuous Fields (VCF)...,1 year,250
27,MYD09A1,MODIS/Aqua Surface Reflectance (SREF) 8-Day L3...,8 day,500
28,MYD11A2,MODIS/Aqua Land Surface Temperature and Emissi...,8 day,1000
29,MYD13Q1,MODIS/Aqua Vegetation Indices (NDVI/EVI) 16-Da...,16 day,250
30,MYD14A2,MODIS/Aqua Thermal Anomalies/Fire (Fire) 8-Day...,8 day,1000
31,MYD15A2H,MODIS/Aqua Leaf Area Index/FPAR (LAI/FPAR) 8-D...,8 day,500
32,MYD16A2,MODIS/Aqua Net Evapotranspiration (ET) 8-Day L...,8 day,500
33,MYD16A2GF,MODIS/Aqua Net Evapotranspiration Gap-Filled (...,8 day,500
34,MYD17A2H,MODIS/Aqua Gross Primary Productivity (GPP) 8-...,8 day,500
35,MYD17A2HGF,MODIS/Aqua Gross Primary Productivity Gap-Fill...,8 day,500
36,MYD17A3HGF,MODIS/Aqua Net Primary Production Gap-Filled (...,1 year,500
37,MYD21A2,MODIS/Aqua Land Surface Temperature/3-Band Emi...,8 day,1000
38,SIF005,SIF Estimates from Fused SCIAMACHY and GOME-2 ...,Monthly,5000
39,SIF_ANN,"SIF Estimates from OCO-2 SIF and MODIS (SIF), ...",16 day,5000
40,SPL3SMP_E,SMAP Enhanced Radiometer Soil Moisture (SM) Da...,1 day,9000
41,SPL4CMDL,SMAP Carbon Net Ecosystem Exchange (NEE) Daily...,1 day,9000
42,VNP09A1,VIIRS/S-NPP Surface Reflectance (SREF) 8-Day L...,8 day,1000
43,VNP09H1,VIIRS/S-NPP Surface Reflectance (SREF) 8-Day L...,8 day,500
44,VNP13A1,VIIRS/S-NPP Vegetation Indices (NDVI/EVI) 16-D...,16 day,500
45,VNP15A2H,VIIRS/S-NPP Leaf Area Index/FPAR (LAI/FPAR) 8-...,8 day,500
46,VNP21A2,VIIRS/S-NPP Land Surface Temperature and Emiss...,8 day,1000
47,VNP22Q2,VIIRS/S-NPP Land Cover Dynamics (LCD) Yearly L...,1 year,500

In [9]:
bands = modis_bands(product = "MCD12Q2")
bands

,band,description,units,valid_range,fill_value,scale_factor
1,Dormancy.Num_Modes_01,Onset_Dormancy,days since 1-1-1970,11138 to 32766,32767,1.0
2,Dormancy.Num_Modes_02,Onset_Dormancy,days since 1-1-1970,11138 to 32766,32767,1.0
3,EVI_Amplitude.Num_Modes_01,EVI_Amplitude,NBAR-EVI2,0 to 10000,32767,0.0001
4,EVI_Amplitude.Num_Modes_02,EVI_Amplitude,NBAR-EVI2,0 to 10000,32767,0.0001
5,EVI_Area.Num_Modes_01,EVI_Area,NBAR-EVI2,0 to 3700,32767,0.1
6,EVI_Area.Num_Modes_02,EVI_Area,NBAR-EVI2,0 to 3700,32767,0.1
7,EVI_Minimum.Num_Modes_01,Minimum_EVI,NBAR-EVI2,0 to 10000,32767,0.0001
8,EVI_Minimum.Num_Modes_02,Minimum_EVI,NBAR-EVI2,0 to 10000,32767,0.0001
9,Greenup.Num_Modes_01,Onset_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
10,Greenup.Num_Modes_02,Onset_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
11,Maturity.Num_Modes_01,Onset_Maturity,days since 1-1-1970,11138 to 32766,32767,1.0
12,Maturity.Num_Modes_02,Onset_Maturity,days since 1-1-1970,11138 to 32766,32767,1.0
13,MidGreendown.Num_Modes_01,Middle_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0
14,MidGreendown.Num_Modes_02,Middle_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0
15,MidGreenup.Num_Modes_01,Middle_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
16,MidGreenup.Num_Modes_02,Middle_Greenness_Increase,days since 1-1-1970,11138 to 32766,32767,1.0
17,NumCycles,Number_of_Cycles,none,0 to 7,32767,1
18,QA_Detailed.Num_Modes_01,Quality_Assessment_Detailed,none,0 to 16383,32767,1
19,QA_Detailed.Num_Modes_02,Quality_Assessment_Detailed,none,0 to 16383,32767,1
20,QA_Overall.Num_Modes_01,Quality_Assessment_Overall,none,0 to 3,32767,1
21,QA_Overall.Num_Modes_02,Quality_Assessment_Overall,none,0 to 3,32767,1
22,Senescence.Num_Modes_01,Onset_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0
23,Senescence.Num_Modes_02,Onset_Greenness_Decrease,days since 1-1-1970,11138 to 32766,32767,1.0

In [33]:
df = pd.read_csv("combined_DBF.csv")
df['geometry'] = df['geometry'].apply(wkt.loads)
df = gpd.GeoDataFrame(df, crs='epsg:4326')
df['latitude'] = df.geometry.apply(lambda p: p.y)
df['longitude'] = df.geometry.apply(lambda p: p.x)
df = df.groupby(["site_id","latitude","longitude","first_yes_year"], as_index=False)["first_yes_doy"].mean()
df = df.rename(columns={"first_yes_year": "year", "first_yes_doy": "doy"})
df1 = df.head(20)
df1

    site_id   latitude  longitude  year         doy
0         2  43.085350 -70.691330  2009  113.285714
1         2  43.085350 -70.691330  2010  100.500000
2         2  43.085350 -70.691330  2011  110.666667
3         2  43.085350 -70.691330  2012   90.000000
4         2  43.085350 -70.691330  2013  112.833333
5         2  43.085350 -70.691330  2014  121.000000
6         2  43.085350 -70.691330  2015  121.000000
7         2  43.085350 -70.691330  2016  114.833333
8         2  43.085350 -70.691330  2017  110.000000
9         3  35.879211 -84.172203  2011   62.000000
10        3  35.879211 -84.172203  2013   70.000000
11        3  35.879211 -84.172203  2014   78.000000
12        3  35.879211 -84.172203  2015   74.000000
13        9  43.097801 -87.892998  2009  105.375000
14        9  43.097801 -87.892998  2010   91.375000
15        9  43.097801 -87.892998  2011  101.375000
16        9  43.097801 -87.892998  2012   75.250000
17        9  43.097801 -87.892998  2013  116.375000
18        9  43.097801 -87.892998  2014  111.750000
19        9  43.097801 -87.892998  2015  102.625000

In [37]:
dataset = ModisMultiplePoints(points=list(zip(df1.longitude.unique(), df1.latitude.unique())), 
                              years=[2007, 2017], product = "MCD12Q2", bands = ["Greenup.Num_Modes_01"])
dataset

ModisMultiplePoints(dataset='modis_multiple_points', points=[(-70.69133, 43.08535), (-84.172203, 35.879211), (-87.892998, 43.097801)], years=(2007, 2017), product='MCD12Q2', bands={'Greenup.Num_Modes_01'})

In [38]:
dataset.download()
df = dataset.load()
df.head()

R version 4.2.1 (2022-06-23) -- "Funny-Looking Kid"
Copyright (C) 2022 The R Foundation for Statistical Computing
Platform: aarch64-unknown-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural language support but running in an English locale

R is a collaborative project with many contributors.
Type 'contributors()' for more information and
'citation()' on how to cite R or R packages in publications.

Type 'demo()' for some demos, 'help()' for on-line help, or
'help.start()' for an HTML browser interface to help.
Type 'q()' to quit R.

>             library(MODISTools)

Warning messages:
1: multiple methods tables found for ‘direction’
2: multiple methods tables found for ‘gridDistance’

>             mt_subset(product = "MCD12Q2",
+                 lat = 43.08535,
+                 lon = -70.69133,
+                 band = "Greenup.Num_Modes_01",
+                 start = "2007-01-01",
+                 end = "2017-12-31",
+                 km_lr = 0.0,
+                 km_ab = 0.0,
+                 site_name = "modis_-70.69133_43.08535",
+                 out_dir="/tmp/data",
+                 internal = FALSE,
+                 progress = FALSE)
NULL
>
>

R version 4.2.1 (2022-06-23) -- "Funny-Looking Kid"
Copyright (C) 2022 The R Foundation for Statistical Computing
Platform: aarch64-unknown-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural language support but running in an English locale

R is a collaborative project with many contributors.
Type 'contributors()' for more information and
'citation()' on how to cite R or R packages in publications.

Type 'demo()' for some demos, 'help()' for on-line help, or
'help.start()' for an HTML browser interface to help.
Type 'q()' to quit R.

>             library(MODISTools)
>             mt_subset(product = "MCD12Q2",
+                 lat = 35.879211,
+                 lon = -84.172203,
+                 band = "Greenup.Num_Modes_01",
+                 start = "2007-01-01",
+                 end = "2017-12-31",
+                 km_lr = 0.0,
+                 km_ab = 0.0,
+                 site_name = "modis_-84.172203_35.879211",
+                 out_dir="/tmp/data",
+                 internal = FALSE,
+                 progress = FALSE)

Warning messages:
1: multiple methods tables found for ‘direction’
2: multiple methods tables found for ‘gridDistance’

NULL
>
>

R version 4.2.1 (2022-06-23) -- "Funny-Looking Kid"
Copyright (C) 2022 The R Foundation for Statistical Computing
Platform: aarch64-unknown-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural language support but running in an English locale

R is a collaborative project with many contributors.
Type 'contributors()' for more information and
'citation()' on how to cite R or R packages in publications.

Type 'demo()' for some demos, 'help()' for on-line help, or
'help.start()' for an HTML browser interface to help.
Type 'q()' to quit R.

>             library(MODISTools)

Warning messages:
1: multiple methods tables found for ‘direction’
2: multiple methods tables found for ‘gridDistance’

>             mt_subset(product = "MCD12Q2",
+                 lat = 43.097801,
+                 lon = -87.892998,
+                 band = "Greenup.Num_Modes_01",
+                 start = "2007-01-01",
+                 end = "2017-12-31",
+                 km_lr = 0.0,
+                 km_ab = 0.0,
+                 site_name = "modis_-87.892998_43.097801",
+                 out_dir="/tmp/data",
+                 internal = FALSE,
+                 progress = FALSE)
NULL
>
>

,xllcorner,yllcorner,cellsize,nrows,ncols,band,units,scale,latitude,longitude,...,start,end,complete,modis_date,calendar_date,tile,proc_date,pixel,value,geometry
0,-5740907.9,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.08535,-70.69133,...,2007-01-01,2017-12-31,True,A2007001,2007-01-01,h12v04,2022085214812,1,13627,POINT (-70.69133 43.08535)
1,-5740907.9,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.08535,-70.69133,...,2007-01-01,2017-12-31,True,A2008001,2008-01-01,h12v04,2022095003237,1,13991,POINT (-70.69133 43.08535)
2,-5740907.9,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.08535,-70.69133,...,2007-01-01,2017-12-31,True,A2009001,2009-01-01,h12v04,2022096090426,1,14352,POINT (-70.69133 43.08535)
3,-5740907.9,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.08535,-70.69133,...,2007-01-01,2017-12-31,True,A2010001,2010-01-01,h12v04,2022096142536,1,14706,POINT (-70.69133 43.08535)
4,-5740907.9,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.08535,-70.69133,...,2007-01-01,2017-12-31,True,A2011001,2011-01-01,h12v04,2022101031346,1,15080,POINT (-70.69133 43.08535)

As the timing of land surface green-up in the MCD12Q2 dataset starts from July 1 in 1970, we need to convert the green-up dates to the units in day of year ranging from 1 to 365 in the corresponding year

In [40]:
df['year'] = pd.DatetimeIndex(df['calendar_date']).year
df['doy'] = df['value']-(df['year']-1970)*365
df

,xllcorner,yllcorner,cellsize,nrows,ncols,band,units,scale,latitude,longitude,...,complete,modis_date,calendar_date,tile,proc_date,pixel,value,geometry,year,doy
0,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2007001,2007-01-01,h12v04,2022085214812,1,13627,POINT (-70.69133 43.08535),2007,122
1,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2008001,2008-01-01,h12v04,2022095003237,1,13991,POINT (-70.69133 43.08535),2008,121
2,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2009001,2009-01-01,h12v04,2022096090426,1,14352,POINT (-70.69133 43.08535),2009,117
3,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2010001,2010-01-01,h12v04,2022096142536,1,14706,POINT (-70.69133 43.08535),2010,106
4,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2011001,2011-01-01,h12v04,2022101031346,1,15080,POINT (-70.69133 43.08535),2011,115
5,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2012001,2012-01-01,h12v04,2022103175437,1,15446,POINT (-70.69133 43.08535),2012,116
6,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2013001,2013-01-01,h12v04,2022105132233,1,15816,POINT (-70.69133 43.08535),2013,121
7,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2014001,2014-01-01,h12v04,2022110132941,1,16186,POINT (-70.69133 43.08535),2014,126
8,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2015001,2015-01-01,h12v04,2022111202223,1,16552,POINT (-70.69133 43.08535),2015,127
9,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2016001,2016-01-01,h12v04,2022113062129,1,16919,POINT (-70.69133 43.08535),2016,129
10,-5740907.90,4790653.45,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.085350,-70.691330,...,True,A2017001,2017-01-01,h12v04,2022115033332,1,17278,POINT (-70.69133 43.08535),2017,123
0,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2007001,2007-01-01,h11v05,2022085210339,1,13572,POINT (-84.17220 35.87921),2007,67
1,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2008001,2008-01-01,h11v05,2022094200657,1,13933,POINT (-84.17220 35.87921),2008,63
2,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2009001,2009-01-01,h11v05,2022096085001,1,14313,POINT (-84.17220 35.87921),2009,78
3,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2010001,2010-01-01,h11v05,2022096140232,1,14679,POINT (-84.17220 35.87921),2010,79
4,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2011001,2011-01-01,h11v05,2022101020853,1,15033,POINT (-84.17220 35.87921),2011,68
5,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2012001,2012-01-01,h11v05,2022103171752,1,15396,POINT (-84.17220 35.87921),2012,66
6,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2013001,2013-01-01,h11v05,2022105133036,1,15780,POINT (-84.17220 35.87921),2013,85
7,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2014001,2014-01-01,h11v05,2022110124844,1,16144,POINT (-84.17220 35.87921),2014,84
8,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2015001,2015-01-01,h11v05,2022111195121,1,16505,POINT (-84.17220 35.87921),2015,80
9,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2016001,2016-01-01,h11v05,2022113061032,1,16866,POINT (-84.17220 35.87921),2016,76
10,-7583965.83,3989585.84,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,35.879211,-84.172203,...,True,A2017001,2017-01-01,h11v05,2022114192628,1,17216,POINT (-84.17220 35.87921),2017,61
0,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2007001,2007-01-01,h11v04,2022085205843,1,13605,POINT (-87.89300 43.09780),2007,100
1,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2008001,2008-01-01,h11v04,2022094201630,1,13989,POINT (-87.89300 43.09780),2008,119
2,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2009001,2009-01-01,h11v04,2022096091610,1,14350,POINT (-87.89300 43.09780),2009,115
3,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2010001,2010-01-01,h11v04,2022096142009,1,14702,POINT (-87.89300 43.09780),2010,102
4,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2011001,2011-01-01,h11v04,2022101021354,1,15079,POINT (-87.89300 43.09780),2011,114
5,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2012001,2012-01-01,h11v04,2022103180852,1,15416,POINT (-87.89300 43.09780),2012,86
6,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2013001,2013-01-01,h11v04,2022105131104,1,15813,POINT (-87.89300 43.09780),2013,118
7,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2014001,2014-01-01,h11v04,2022110123643,1,16187,POINT (-87.89300 43.09780),2014,127
8,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2015001,2015-01-01,h11v04,2022111200725,1,16540,POINT (-87.89300 43.09780),2015,115
9,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2016001,2016-01-01,h11v04,2022113063802,1,16898,POINT (-87.89300 43.09780),2016,108
10,-7136405.77,4792043.39,463.312717,1,1,Greenup.Num_Modes_01,days since 1-1-1970,1.0,43.097801,-87.892998,...,True,A2017001,2017-01-01,h11v04,2022114201303,1,17264,POINT (-87.89300 43.09780),2017,109

In [41]:
df.shape

(33, 24)